* {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'FFfont';
    src: url('./Vandiana_Platin_Lite.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4fbff;
    color: #333;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navboxes {
    /*     border-radius: 12px;
    padding: 4px;
    padding-left: 9px;
    padding-right: 9px; 
    background-color: #0071a5;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.308); */
    transition: color 0.3s;
}

.navboxes:hover {
    /*     background-color: #00334b; */
    color: #00334b;
}

/* Stile dello slideshow */
.slideshow-container {
    position: relative;
    max-width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

@media (min-width: 768px) {
    .slideshow-container {
        position: relative;
        max-width: 73%;
        height: 100%;
        margin: auto;
        overflow: hidden;
    }

}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
    height: 100%;
}

.slide {
    min-width: 100%;
    object-fit: contain;
    background-size: cover;
    background-position: center;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4em;
    color: #00aeff;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    cursor: pointer;
    z-index: 2;
}

.arrow.left {
    left: 10px;
    transition: transform 0.3s;
}

.arrow.right {
    right: 10px;
    transition: transform 0.3s;
}

.arrow.left:hover {
    transform: translateY(-50%) translateX(-15px) scale(1.075);

}

.arrow.right:hover {
    transform: translateY(-50%) translateX(+15px) scale(1.075);
}

@media (hover: none) {

    .arrow.left:hover {
        transform: translateY(-50%);

    }

    .arrow.right:hover {
        transform: translateY(-50%);
    }
}

.content {
    max-width: 1200px;
    margin: auto;
}

.contact {
    background-color: #0071a5;
    color: white;
    text-align: center;
}

footer {
    background-color: #00adef;
    color: white;
    text-align: center;
}

/* Pannellini */
.service {
    border-radius: 8px;
    background-color: #d6f3ff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
    transition: transform 0.3s;
    cursor: pointer;
}

/* .service:hover {
    transform: scale(1.05);
} */

.service-panel {
    position: fixed;
    z-index: 40;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px;
    /* larghezza massima della griglia dei servizi */
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.616);
    padding: 20px;
    display: none;
    opacity: 0;
    transition: none;
    pointer-events: none;
    cursor: auto;
}

@media (max-width: 1334px) {
    .service-panel {
        max-width: 90%;
        /* larghezza massima del 90% della larghezza dello schermo */
        height: 60%;
    }
}

@media (max-height: 1000px) {
    .service-panel {
        height: 60%;
    }
}

.service-panel.show {
    display: block;
    opacity: 1;
    pointer-events: auto;
}


.service-panel h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.service-panel p {
    font-size: 18px;
    margin-bottom: 10px;
}


.btn-close {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
