html {
    scroll-behavior: smooth;
}

body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2fbffd3;
    color: #333;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navboxes {
/*     border-radius: 12px;
    padding: 4px;
    padding-left: 9px;
    padding-right: 9px; 
    background-color: #0071a5;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.308); */
    transition: color 0.3s;
}

.navboxes:hover {
/*     background-color: #00334b; */
    color: #00334b;
}

/* Stile dello slideshow */
.slideshow-container {
    position: relative;
    max-width: 100%;
    height: 700px;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4em;
    color: #00aeff;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.content {
    max-width: 1200px;
    margin: auto;
}

/* Pannellini */
.service {
    border-radius: 8px;
    background-color: #d6f3ff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
    transition: transform 0.3s;
}

.service:hover {
    transform: translateY(-5px);
}

.contact {
    background-color: #0071a5;
    color: white;
    padding: 1px;
    text-align: center;
}

footer {
    background-color: #00adef;
    color: white;
    text-align: center;
    padding: 1px;
}